.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: blueviolet;
    padding: 20px;
    align-items: center;
    color: whitesmoke
}

.navbar ul a {
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    color: whitesmoke;
    background-color: none;
    border-radius: 20px;
    transition: 500ms;
}

.navbar ul a:hover {
    color: blueviolet;
    background-color:whitesmoke;
}