.pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokedex select {
    width: 300px;
    margin: 20px;
}

.pokedex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}